@font-face {
  font-family: 'Alegreya-Regular';
  src: url('./AlegreyaSans-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Alegreya-Thin';
  src: url('./AlegreyaSans-Thin.ttf') format('truetype');

}
