@font-face {
  font-family: 'Amatic';
  src: url('./AmaticSC-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Comfortaa';
  src: url('./Comfortaa-VariableFont_wght.ttf') format('truetype');

}

@font-face {
  font-family: 'Sofia';
  src: url('./SofiaSansCondensed-VariableFont_wght.ttf') format('truetype');

}
