@font-face {
  font-family: 'Thin';
  src: url('./AlegreyaSans-Thin.ttf') format('truetype');

}
@font-face {
  font-family: 'AdventPro-i';
  src: url('./AdventPro-Italic-VariableFont_wdth\,wght.ttf') format('truetype');

}
@font-face {
  font-family: 'AdventPro';
  src: url('./AdventPro-VariableFont_wdth\,wght.ttf') format('truetype');

}
@font-face {
  font-family: 'Amatic-B';
  src: url('./AmaticSC-Bold.ttf') format('truetype');

}
@font-face {
  font-family: 'Amatic';
  src: url('./AmaticSC-Regular.ttf') format('truetype');

}


