@import '../../abstracts/mixins';

.catalog {
  @include containerWithMinHeight(550);
  background-color: #e4e4e4;
  position: relative;
  overflow: hidden;
}

.catalog_list {
  @include flex-center();
  position: relative;
  gap: 40px;
  justify-content: space-evenly;
}

.catalog_item {
  min-width: 300px;
  min-height: 500px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-wrap: balance;
  padding: 12px 0;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.catalog_list:hover {
  animation-play-state: paused;
}

.item_title {
  font-family: Amatic;
  font-size: 35px;
  color: darkred;
}

.item_description {
  font-family: Amatic;
  text-wrap: balance;
  text-align: center;
  font-size: medium;
  font-size: 22px;
  font-weight: 600;
  color: #8a8d89f4;
}

.button {
  width: 80%;
  background-color: #3aab06fd;
  border: none;
  border-radius: 8px;
  padding: 6px;
  font-family: Thin;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.link {
  color: #fff;
}

.button:disabled {
  color: #fff;
  background-color: orangered;
  cursor: default;
}


@media (min-width: 768px) {
  .catalog_list {
    animation: infiniteSlide 25s linear 1s infinite alternate;
    animation-delay: 3s;
  }
}

@keyframes infiniteSlide {
  0% {
    left: 0%;
  }

  100% {
    left: -60%;
  }
}
