@import '../../abstracts/mixins';

.catalog {
  @include flex-center();
  height: 550px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  position: relative;
  gap: 40px;
  justify-content: space-evenly;
}

.catalog_list {
  @include containerWithMinHeight(500);
  height: 350px;
}

.catalog_item {
  width: 60%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.catalog_header {
  height: 50%;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.item_title {
  font-family: Amatic;
  font-size: 42px;
  color: darkred;
}

.item_description {
  font-family: Amatic;
  text-align: left;
  font-size: medium;
  font-size: 30px;
  font-weight: 600;
  color: #8a8d89f4;
}

.button {
  width: 90%;
  background-color: #3aab06fd;
  border: none;
  border-radius: 8px;
  padding: 6px;
  font-family: Thin;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.link {
  color: #fff;
}

.button:disabled {
  color: #fff;
  background-color: orangered;
  cursor: default;
}

@media (max-width: 768px) {
  .item_image {
    display: none;
  }

  .catalog_item {
    width: 90%;
    justify-content: center;
    padding: 12px 0;
    margin: 0 auto;
  }

  .catalog_header {
    height: 70%;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .item_description {
    font-family: Amatic;
    text-align: center;
    font-size: 24px;
  }
}
